#######################################
# system
#######################################
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#######################################
# rust/cargo
#######################################
/target
**/*.rs.bk

#######################################
# node
#######################################
package-lock.json

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules
