#######################################
# system
#######################################
*.DS_Store
*.DS_Store?
*._*
*.Spotlight-V100
*.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

#######################################
# rust/cargo
#######################################
/target
**/*.rs.bk

#######################################
# node
#######################################
package-lock.json
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# VSCode
# Ignore all local history of files
.vscode/*
.history

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
